
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
  font-family: 'Playfair Display', serif;
}
p {
  margin: 0;
  padding: 0;
}
.top-container {
  display: flex;
  margin: 1em 2em;
  align-items: center;
  position: absolute;
}
.top-background {
  background-color: #7cb9bf;
  width: calc(100vw + 100px);
  height: calc(80vh + 100px);
  transform: rotate(-9deg) translateY(-70%);
  position: absolute;
}
.about-me-container {
  padding: 1em;
  align-items: center;
  box-shadow: 4px 3px 12px -5px rgba(128, 128, 128, 0.85);
  display: grid;
  grid-template-rows: 50px 1fr 1fr;
  background-color: white;
}
.about-me-container>h1 {
  font-size: 2rem;
}
.about-me-content {
  font-size: 1rem;
  grid-row-start: 2;
}
.link-icon-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1.5em);
  justify-content: end;
  align-self: end;
}
.link-icon {
  max-width: 1.5em;
}
.about-me-img {
  object-fit: fill;
}
.profile-pic-name-overlay {
  position: absolute;
  font-size: 3rem;
  top: 7.5em;
}
@media (max-width: 800px) {
  .top-container {
    display: block;
  }
}