body {
  font-family: 'Playfair Display', serif;
}
p {
  margin: 0;
  padding: 0;
}
.top-container {
  display: flex;
  margin: 1em 2em;
  align-items: center;
}
.about-me-container {
  padding: 1em;
  align-items: center;
  box-shadow: 4px 3px 12px -5px rgba(128, 128, 128, 0.85);
  display: grid;
  grid-template-rows: 50px 1fr 1fr;
}
.about-me-container>h1 {
  font-size: 2rem;
}
.about-me-content {
  font-size: 1rem;
  grid-row-start: 2;
}
.link-icon-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1.5em);
  justify-content: end;
  align-self: end;
}
.link-icon {
  max-width: 1.5em;
}
.about-me-img {
  object-fit: fill;
}
@media (max-width: 600px) {
  .top-container {
    display: block;
  }
}